@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

img#logoi {
	width: 15%;
	position: relative;
	padding: 20px;
	margin: 0 auto;
	z-index: 3;
	display: block;
}

img#capai {
	width: 100vw;
	box-sizing: border-box;
	display: block;
	top: -150px;
	position: relative;
}

img#capam {
	display: none;
}

h1#titulocp {
	font-family: Montserrat;
	font-size: 32pt;
	text-align: center;
	top: -480px;
	position: relative;
	width: 900px;
	margin: 0 auto;
	color: #fff;
}

.container {
	max-width: 1360px;
	position: relative;
	top: -150px;
	margin: 0 auto;
	flex: wrap;
}

/*.container div#* {
	flex: 1 1 300px;
}*/

p.p {
	font-family: Montserrat;
	Color: 202020;
	font-size: 13pt;
	position: relative;
	line-height: 30px;
	display: inline-block;
	padding: 30px;
}

h2.titulo {
	font-family: Montserrat;
	Color: #0a2266;
	font-size: 25pt;
	font-weight: bold;
	width: 68%;
	text-align: center;
	position: relative;
	letter-spacing: 2px;
	line-height: 55px;
}

h2#t1 {
	margin-left: 20px;
}

h2#t3 {
	text-align: center;
	margin: 0 auto;
	position: relative;
	margin-bottom: 70px;
	color: #fff;
}

p#p1 {
	padding: 50px;
	margin: 0 auto;
	justify-content: center;
	width: 90%;
}

p#pmob {
	display: none;
}

p#p2,#p23 {
	text-align: center;
	margin: 0 auto;
	display: block;
	text-align: justify;
	top: 40px;
}

#b1 {
	box-sizing: border-box;
	min-width: 300px;
	max-width: 60%;
	display: inline-block;
}

#b12 {
	max-width: 500px;
	min-width: 200px;
	display: inline-block;
}

div#b12 img#painel {
	width: 100%;
	max-width: 400px;
	box-sizing: border-box;
	border-radius: 8px;
}

#b2 {
	top: 80px;
	position: relative;
	min-width: 400px;
	width: 100%;
	display: block;
	margin: 0 auto;
	justify-content: center;
	padding-bottom: 150px;
}

#b2 h2#t2 {
	margin: 0 auto;
}

#b3 {
	padding-top: 100px;
	margin-top: 50px;
	background-color: #040847;
	padding-bottom: 80px;
}


div#acompanhamento {
	margin: 0 auto;
}

div#b3 p {
	color: #fff;
	width: 80%;
} 

/*------ ICONES E TEXTOS------*/

img.icon {
	width: 100%;
	max-width: 100px;
	display: inline-block;
	padding: 0px 20px 0px 60px;
}

p.p {
	width: 100%;
	max-width: 900px;
	min-width: 500px;
	display: inline-block;
	margin-left: 30px;
	flex: wrap;
}




/* ----------  RESPONSIVO MOBILE ---------- */




@media screen and (max-width: 1028px) {
	#b1 {
	box-sizing: border-box;
	min-width: 300px;
	max-width: 100%;
	display: block;
}

#b12 {
	min-width: 400px;
	width: 100%;
	display: block;
	margin: 0 auto;
	justify-content: center;
}

div#b12 img#painel {
	width: 80%;
	min-width: 200px;
	box-sizing: border-box;
}

img.icon {
	width: 100%;
	max-width: 80px;
	display: inline-block;
	padding: 0px 20px 0px 60px;
}

p.p {
	width: 100%;
	max-width: 60vw;
	display: inline-block;
	margin-left: 30px;
	flex: wrap;
	text-align: left;
	line-height: 30px;
}

p#p2,p#p23 {
	width: 350px;
	max-width: 400px;
	font-size: 11pt;
	line-height: 30px;
	box-sizing: border-box;
	text-align: left;
	margin: 0 auto;
	display: block;
	padding: 15px;
	min-width: 50px;
	background-color: #FAFAFA;
	border-radius: 6px;
}

h1#titulocp {
	font-family: Montserrat;
	font-size: 16pt;
	text-align: center;
	top: -400px;
	position: relative;
	max-width: 400px;
	margin: 0 auto;
	color: #fff;
}

img#logoi {
	width: 25%;
	position: relative;
	padding: 10px;
	margin: 0 auto;
	z-index: 3;
	display: block;
}

p#p1 {
	max-width: 90%;
	min-width: 50px;
	padding: 30px 15px 60px 15px;
}

h2.titulo {
	font-size: 22pt;
}

h2#t1 {
	width: 80%;
	text-align: center;
	padding-left: 15px;
}

h2#t3 {
	font-size: 20pt;
	width: 80%;
}

}

@media screen and (max-width: 1195px) {
	p#p1 {
		display: none;
	}


	#b1 {
	display: block;
	position: relative;
	top: -50px;
	}

	#b3 {
		padding-bottom: -50px;
	}

	p#pmob {
	min-width: 400px;
	font-size: 11pt;
	line-height: 22px;
	box-sizing: border-box;
	text-align: left;
	margin: 0 auto;
	display: block;
	padding: 40px 15px 70px 15px;
	line-height: 30px;
	}

	img#painel {
		margin: 0 auto;
		display: block;
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
		width: 50vw;
		min-width: 50px;
		max-width: 300px;
		box-sizing: border-box;
	}
	#b12 {
		width: 80%;
		display: block;
		margin: 0 auto;
	}
	div#b3 {
		width: 100%;
		display: block;
		margin: 0 auto;
	}
	div#b3 p {
	color: black;
	background-color: yellow;
	width: 80%;
	min-width: 100px;
	background-color: #fff;
	border-radius: 10px;

} 


/*-------------------------------------*/

.container {
	margin: 0 auto;
	width: 100%;
}

p.p {
	width: 80vw;
	display: block;
	box-sizing: border-box;
	font-size: 10pt;
	text-align: left;
	line-height: 30px;
}

p#p2,p#p23 {
	width: 350px;
	max-width: 400px;
	font-size: 11pt;
	line-height: 30px;
	box-sizing: border-box;
	text-align: left;
	margin: 0 auto;
	display: block;
	padding: 15px;
	min-width: 50px;
	background-color: #FAFAFA;
	border-radius: 6px;
}

/*
p#p1 {
	max-width: 90%;
	font-size: 11pt;
	line-height: 22px;
	box-sizing: border-box;
	text-align: left;
	margin: 0 auto;
	display: block;
	padding: 30px 15px 60px 15px;
	line-height: 30px;
} */

h2.titulo {
	font-size: 22pt;
}

h2#t1 {
	max-width: 500px;
	text-align: left;
	display: block;
	margin: 0 auto;
}

h2#t3 {
	font-size: 18pt;
	width: 80%;
}

.modulos {
	position: relative;
	display: block;
	top: -30px;
}



/* FORMULARIO  */

			div.box {
				margin-top: 40px;
				max-width: 350px;
				width: 95%;
				min-width: 0px;
				display: block;
			}

			label#title {
			letter-spacing: 3px;
			margin-bottom: 0px;
			display: block;
			font-family: candara;
			}

			label {
				font-family: Montserrat;
				font-size: 16pt;
				padding: 20px;
				width: 100%;
				flex-wrap: wrap;
				color: #fff;
			}
			label#priod {
				font-size: 11pt;
				color: #C9C9C9;
				display: block;
				margin-top: -15px;
			}
			input {
				margin-left: 20px;
				width: 80%;
				margin-top: 5px;
				padding: 8px;
				border-radius: 3px;
				border: none;
				color: red;
			}
			.input-box {
				margin-top: 20px;
			}
			input#prio {
				padding-top: 30px;
			}
			#nome,#telefone,#ramo,#luz,#city,#email,#prio,#priod::placeholder {
				color: #C9C9C9;
				font-family: Montserrat;
				overflow-wrap: break-word;
				letter-spacing: 2px;
				text-align: top;
			}
			.the-button button {
				margin: 20px;
				padding: 15px;
				background-color: #0BBD17;
				color: #fff;
				font-family: Montserrat;
				font-size: 14pt;
				border-radius: 5px;
				border: none;
				outline: none;
			}

}



@media screen and (max-width: 1080px) {
	img#capam {
		display: block;
		width: 100vw;
		margin-top: -120px;
		margin-bottom: 200px;
	}
	img#capai {
		display: none;
	}
	#time {
	position: relative;
	margin-top: -30px;
}

	.container {
	width: 100%;
	margin: 0 auto;
	display: block;
}

p.p {
	width: 60vw;
	display: block;
	box-sizing: border-box;
	font-size: 10pt;
	text-align: left;
	line-height: 30px;
}

p#p2,p#p23 {
	width: 350px;
	max-width: 400px;
	font-size: 11pt;
	line-height: 30px;
	box-sizing: border-box;
	text-align: left;
	margin: 0 auto;
	display: block;
	padding: 15px;
	min-width: 50px;
}


p#p3 {
	width: 60%;
	display: block;
	box-sizing: border-box;
	overflow-wrap: break-word;
}

p#p1 {
	text-align: left;
	max-width: 90%;
	padding: 30px 15px 60px 15px;
}

h2.titulo {
	font-size: 22pt;
}

h2#t1 {
	text-align: left;
}


}


@media screen and (max-width: 785px) {
	img.icon {
	width: 100%;
	max-width: 70px;
	display: block;
	padding: 60px 20px 20px 20px;
	margin: 0 auto;
}

#b3 p.p {
	max-width: 80%;
	font-size: 11pt;
	line-height: 22px;
	box-sizing: border-box;
	text-align: left;
	margin: 0 auto;
	display: block;
	border: 2px rgba(35, 48, 232, 1.0) solid;
	border-radius: 8px;
}

h2.titulo {
	font-family: Montserrat;
	Color: #0a2266;
	font-size: 17pt;
	font-weight: bold;
	width: 90%;
	text-align: center;
	position: relative;
	line-height: 30px;
}


p.p {
	text-align: left;
}

h2#t1 {
	padding-left: 15px;
}

}

@media screen and (max-width: 600px) {
	div#b3 p.p {border: none}
}



/*-------------- FORMULARIO --------------*/

.box {
			min-width: 450px;
			max-width: 800px;
			background-image: linear-gradient(to top left, #2A47D4, #1B0085);
			margin: 0 auto;
			padding: 30px;
			border-radius: 10px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
			margin-top: 40px;
		}

		label#title {
			font-size: 18pt;
			letter-spacing: 3px;
			margin-bottom: 0px;
			display: block;
		}

		label {
				font-family: Montserrat;
				font-size: 16pt;
				padding: 20px;
				width: 100%;
				flex-wrap: wrap;
				color: #fff;
			}
			label#priod {
				font-size: 11pt;
				color: #C9C9C9;
				max-width: 80%;
				display: block;
				margin-top: -15px;
			}
			input {
				margin-left: 20px;
				width: 90%;
				margin-top: 5px;
				padding: 8px;
				border-radius: 3px;
				border: none;
				color: red;
			}
			.input-box {
				margin-top: 20px;
			}
			input#prio {
				height: 60px;
				width: 90%;
			}
			#nome,#telefone,#ramo,#luz,#city,#email,#prio,#priod::placeholder {
				color: #3D477A;
				font-family: Montserrat;
				overflow-wrap: break-word;
				letter-spacing: 2px;
				outline: none;
			}

			.the-button button {
				margin: 30px 20px 20px 20px;
				padding: 15px;
				background-color: #0BBD17;
				color: #fff;
				font-family: Montserrat;
				font-size: 12pt;
				border-radius: 5px;
				border: none;
				outline: none;
				letter-spacing: 2px;
			}